Repository FlowCrypt/flowcrypt-ios: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build + Swift Unit Test, TypeScript tests, UI Tests

Build + Swift Unit Test:
  env_vars:
  - name: LANG
    value: en_US.UTF-8
  - name: SEMAPHORE_GIT_DIR
    value: /Users/semaphore/git/flowcrypt-ios
  prologue:
    commands:
    - checkout && cd ~/git/flowcrypt-ios/
  jobs:
  - name: Build Xcode Project + Swift Unit Test
    commands:
    - bundle install
    - bundle exec fastlane build
  ...

TypeScript tests:
  agent:
    machine:
      type: e1-standard-2
      os_image: ubuntu2004
  env_vars:
  - name: LANG
    value: en_US.UTF-8
  - name: SEMAPHORE_GIT_DIR
    value: /home/semaphore/git/flowcrypt-ios
  prologue:
    commands:
    - checkout && cd ~/git/flowcrypt-ios/
  ...

UI Tests:
  env_vars:
  - name: LANG
    value: en_US.UTF-8
  - name: SEMAPHORE_GIT_DIR
    value: /Users/semaphore/git/flowcrypt-ios
  prologue:
    commands:
    - checkout && cd ~/git/flowcrypt-ios/
    - mv ~/appium-env ~/git/flowcrypt-ios/appium/.env
  ...

wip
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

wip
  appium/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

use xcode 16.2
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

wip
  .semaphore/semaphore.yml
  appium/package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

Release 1.3.3
  Core/package-lock.json
  Core/package.json
  FlowCrypt.xcodeproj/project.pbxproj
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  appium/package-lock.json
  appium/package.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  appium/package-lock.json
Due: Build + Swift Unit Test, UI Tests

wip
  .semaphore/semaphore.yml
  appium/package.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

feat: allow forward without any added text
  FlowCrypt/Controllers/Compose/ComposeViewControllerInput.swift
  FlowCrypt/Controllers/Compose/ComposeViewDecorator.swift
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+Nodes.swift
  FlowCrypt/Functionality/Services/Compose Message Helper/ComposeMessageHelper.swift
  appium/tests/specs/mock/composeEmail/CheckForwardWithoutAnyAddedText.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

feat: updated fastlane
  Gemfile
Due: Build + Swift Unit Test, TypeScript tests

fix: stick to ruby 3.3.1
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

fix: gem
  .semaphore/semaphore.yml
  Gemfile
Due: Build + Swift Unit Test, TypeScript tests

fix: prelaunch_simulator
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: build
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Debug FlowCrypt.xcscheme
  Gemfile
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

temp
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

fix: build
  .semaphore/semaphore.yml
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Debug FlowCrypt.xcscheme
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: build
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptAppTests.xcscheme
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

temporarily disable tests
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

Release 1.3.2 (#2668)
  .semaphore/semaphore.yml
  .swiftlint.yml
  Core/package-lock.json
  Core/package.json
  FlowCrypt.xcodeproj/project.pbxproj
  FlowCrypt.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Debug FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Enterprise FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptAppTests.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptCommon.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptUI.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptUIApplication.xcscheme
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+Drafts.swift
  FlowCrypt/Controllers/Inbox/InboxViewController.swift
  FlowCrypt/Functionality/Mail Provider/Message Provider/ProcessedMessage.swift
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  Gemfile
  Gemfile.lock
  appium/package-lock.json
  appium/package.json
  fastlane/Fastfile
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

update Fastfile
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

use 18.3.1 simulator
  .semaphore/semaphore.yml
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

Release 1.3.3 (#2669)
  Core/package-lock.json
  FlowCrypt.xcodeproj/project.pbxproj
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  appium/package-lock.json
  appium/package.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: build
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Debug FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptAppTests.xcscheme
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

fix: pr reviews
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  appium/tests/specs/mock/composeEmail/CheckAttachmentAfterForward.spec.ts
  appium/tests/specs/mock/composeEmail/CheckForward.spec.ts
  appium/tests/specs/mock/composeEmail/CheckForwardMessageWithAttachedPubKey.spec.ts
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

#2664 Allow forward without any added text (#2667)
  .semaphore/semaphore.yml
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Debug FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptAppTests.xcscheme
  FlowCrypt/Controllers/Compose/ComposeViewControllerInput.swift
  FlowCrypt/Controllers/Compose/ComposeViewDecorator.swift
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+Nodes.swift
  FlowCrypt/Functionality/Services/Compose Message Helper/ComposeMessageHelper.swift
  Gemfile
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  appium/tests/specs/mock/composeEmail/CheckAttachmentAfterForward.spec.ts
  appium/tests/specs/mock/composeEmail/CheckForward.spec.ts
  appium/tests/specs/mock/composeEmail/CheckForwardMessageWithAttachedPubKey.spec.ts
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

re-enable tests
  .semaphore/semaphore.yml
  appium/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  Gemfile
  Gemfile.lock
Due: Build + Swift Unit Test, TypeScript tests

fix: formatting issue in reply message with attachment
  FlowCrypt/Controllers/Threads/ThreadDetailsViewController+TableView.swift
  FlowCryptCommon/Extensions/StringExtensions.swift
  FlowCryptUI/Cell Nodes/ThreadDetailWebNode.swift
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

Path conditions:
  Build + Swift Unit Test: any of: ^, but not: Core/package.json, Core/package-lock.json, .github/dependabot.yml
  TypeScript tests: any of: ^, but not: appium/package.json, appium/package-lock.json, .github/dependabot.yml
  UI Tests: any of: ^, but not: Core/package.json, Core/package-lock.json, Gemfile, Gemfile.lock, .github/dependabot.yml, .semaphore/semaphore.yml, package.json, package-lock.json
