Repository FlowCrypt/flowcrypt-ios: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build + Swift Unit Test, TypeScript tests, UI Tests

Path conditions:
  Build + Swift Unit Test: any of: ^, but not: Core/package.json, Core/package-lock.json, .github/dependabot.yml
  TypeScript tests: any of: ^, but not: appium/package.json, appium/package-lock.json, .github/dependabot.yml
  UI Tests: any of: ^, but not: Core/package.json, Core/package-lock.json, Gemfile, Gemfile.lock, .github/dependabot.yml, .semaphore/semaphore.yml, package.json, package-lock.json

#2651 Update to openpgp v6 (#2653)
  Core/package-lock.json
  Core/package.json
  Core/source/core/pgp-key.ts
  Core/source/test.ts
  Core/webpack.bare.config.js
  FlowCrypt.xcodeproj/project.pbxproj
  FlowCrypt/Core/Core.swift
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  FlowCrypt/Resources/simple_webview_file.html
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

use iPhone 16
  .semaphore/semaphore.yml
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  appium/package-lock.json
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix
  appium/api-mocks/apis/attester/attester-endpoints.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

wip
  .semaphore/semaphore.yml
  appium/package-lock.json
  appium/tests/specs/mock/inbox/CheckMessageProcessingErrors.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  appium/package-lock.json
  appium/tests/screenobjects/attachment.screen.ts
  appium/tests/specs/mock/inbox/ReadAttachmentEmail.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  Core/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests

wip
  appium/config/wdio.mock.conf.ts
  appium/config/wdio.shared.conf.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

update semaphore.yml
  .semaphore/semaphore.yml
Due: Build + Swift Unit Test, TypeScript tests

Fix UI tests on Semaphore CI (#2655)
  .semaphore/semaphore.yml
  Core/package-lock.json
  Core/package.json
  FlowCrypt.xcodeproj/project.pbxproj
  FlowCrypt.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FlowCrypt/Core/Core.swift
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  appium/api-mocks/apis/attester/attester-endpoints.ts
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  appium/package-lock.json
  appium/package.json
  appium/tests/screenobjects/attachment.screen.ts
  appium/tests/specs/mock/composeEmail/CheckComposeEmailAfterReopening.spec.ts
  appium/tests/specs/mock/inbox/CheckMessageProcessingErrors.spec.ts
  appium/tests/specs/mock/inbox/ReadAttachmentEmail.spec.ts
  fastlane/Fastfile
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

feat: plain message quote
  FlowCrypt/Functionality/Mail Provider/Message Provider/ProcessedMessage.swift
  appium/api-mocks/apis/google/exported-messages/message-export-1954b6e687bded15.json
  appium/api-mocks/apis/google/google-messages.ts
  appium/tests/data/index.ts
  appium/tests/specs/mock/inbox/CheckPlainMessageQuote.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: ui test
  appium/tests/data/index.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: parse plain html
  FlowCrypt/Functionality/Mail Provider/Message Provider/ProcessedMessage.swift
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

feat: refretch client configuration before sending password protected message
  .gitignore
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+MessageSend.swift
  FlowCrypt/Functionality/Services/Client Configuration Provider/ClientConfigurationProvider.swift
  appium/tests/specs/mock/composeEmail/CheckPasswordMessageCompliance.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

#2656 Plain message quote (#2657)
  FlowCrypt/Functionality/Mail Provider/Message Provider/ProcessedMessage.swift
  appium/api-mocks/apis/google/exported-messages/message-export-1954b6e687bded15.json
  appium/api-mocks/apis/google/google-messages.ts
  appium/tests/data/index.ts
  appium/tests/specs/mock/inbox/CheckPlainMessageQuote.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: unit test
  FlowCryptAppTests/Functionality/Services/Client Configuration Service/Mocks/OrganisationalRulesServiceMock.swift
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: enterprise check
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+MessageSend.swift
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

fix: ui test
  appium/tests/specs/mock/composeEmail/CheckPasswordMessageCompliance.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

#2658 Refetch client configuration before sending password protected message (#2659)
  .gitignore
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+MessageSend.swift
  FlowCrypt/Functionality/Services/Client Configuration Provider/ClientConfigurationProvider.swift
  FlowCryptAppTests/Functionality/Services/Client Configuration Service/Mocks/OrganisationalRulesServiceMock.swift
  appium/tests/specs/mock/composeEmail/CheckPasswordMessageCompliance.spec.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

Update version to 1.3.2
  .semaphore/semaphore.yml
  Core/package-lock.json
  Core/package.json
  FlowCrypt.xcodeproj/project.pbxproj
  appium/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  appium/package-lock.json
Due: Build + Swift Unit Test, UI Tests

wip
  appium/package-lock.json
  appium/package.json
Due: Build + Swift Unit Test, UI Tests

wip
  appium/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

update to iOS 18.4
  .semaphore/semaphore.yml
  Core/package-lock.json
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  appium/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

update fastlane
  Gemfile
  Gemfile.lock
Due: Build + Swift Unit Test, TypeScript tests

fix fastlane
  Gemfile
  Gemfile.lock
Due: Build + Swift Unit Test, TypeScript tests

wip
  .semaphore/semaphore.yml
  FlowCrypt.xcodeproj/project.pbxproj
  FlowCrypt.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Debug FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/Enterprise FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCrypt.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptAppTests.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptCommon.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptUI.xcscheme
  FlowCrypt.xcodeproj/xcshareddata/xcschemes/FlowCryptUIApplication.xcscheme
  FlowCrypt/Functionality/Mail Provider/Message Provider/ProcessedMessage.swift
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  Core/package-lock.json
  FlowCrypt.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FlowCrypt/Resources/generated/flowcrypt-ios-prod.js.txt
  appium/package-lock.json
  package-lock.json
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .swiftlint.yml
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .swiftlint.yml
  FlowCrypt/Controllers/Compose/Extensions/ComposeViewController+Drafts.swift
  FlowCrypt/Controllers/Inbox/InboxViewController.swift
Due: Build + Swift Unit Test, TypeScript tests, UI Tests

wip
  .semaphore/semaphore.yml
  appium/config/wdio.live.conf.ts
  appium/config/wdio.mock.conf.ts
  fastlane/Fastfile
Due: Build + Swift Unit Test, TypeScript tests, UI Tests
